In [230]:
import pandas as pd
from io import StringIO

In [231]:
prods = pd.read_csv('prods_tab.csv',sep=',',encoding='latin-1')

In [232]:
prods=prods.dropna(axis=0,how='all')

In [233]:
prods=prods.drop_duplicates(keep=False)

In [234]:
with open('entregas_tab.txt') as f:
    txt = f.read()

In [235]:
marker='-----------------------------------'
txt1, txt2= txt.split(marker)

In [236]:
df1 = pd.read_csv(StringIO(txt1), header=None, sep='|')
entregas = pd.read_csv(StringIO(txt2), header=None, sep='|', engine='python')

In [237]:
entregas=entregas.dropna(axis=1,how='all')
entregas=entregas.dropna(axis=0,how='any')
entregas=entregas.drop(0)

In [238]:
entregas.columns=['SKU','Dt.Compra','Dt.Chegada','SKTD']

In [239]:
prods=prods.rename(index={1:'2',2:'3',3:'4',6:'5',10:'6',11:'7',12:'8',13:'9',14:'10'})
entregas=entregas.rename(index={2:'2',3:'3',4:'4',5:'5',6:'6',7:'7',8:'8',9:'9',10:'10'})

In [240]:
table=pd.concat([entregas, prods], axis=1, join_axes=[prods.index])

In [241]:
table["Dt.Compra"] = pd.to_datetime(table["Dt.Compra"], format='%Y%m%d', errors='ignore')
table["Dt.Chegada"] = pd.to_datetime(table["Dt.Chegada"], format='%Y%m%d', errors='ignore')

In [242]:
table['Dt_Diff'] = table['Dt.Chegada'] - table['Dt.Compra']

In [243]:
table["Dt_Diff"] = pd.to_numeric(table["Dt_Diff"]) / 86400000000000

In [244]:
results=table.groupby('ID. Forn.', as_index=False)['Dt_Diff'].mean()

In [245]:
results.columns=['Fornecedor','LT']

In [246]:
results.to_excel('resultado.xlsx')